.novelty {
    margin-top: 100px;
    margin-bottom: 100px;
}

.novelty-products-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.novelty-products-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.novelty-products-right {
    max-height: 614px;
    max-width: 570px;
    margin-top: 40px;
}

.novelty-product,
.novelty-product-right {
    text-align: center;
}

.novelty-product-right:hover,
.novelty-product:hover {
    background-color: #FAECE9;
}

.novelty-product-new {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fz-16 {
    font-size: 16px;
    font-weight: 600;
}

.fz-20 {
    font-size: 20px;
}

.fz-28 {
    font-size: 28px;
    font-weight: 600;
}


.underlining {
    border-bottom: 4px solid #303032;
    max-width: 90px;
}

.mb-50 {
    margin-bottom: 28px;
}

.comments-container {
    text-align: center;
}

.comments {
    margin-bottom: 100px;
}

.card-title {
    font-size: 16 px;
    font-weight: 400;
}

.card-prices {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
}

.card-prices span {
    font-size: 16px;
    line-height: 21.7px;
    color: #303032;
    opacity: 50%;
    margin-left: 20px;
    text-decoration: line-through;
}

.card {
    background-color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.card-sw {
    width: 200px;
    display: flex;
    align-items: center
}

.d-flex {
    display: flex;
    justify-content: center;
}

.card-sw button {
    background-color: #303032;
    color: white;
    width: 200px;
    height: 58px;
}

.swiper-cards {
    display: none;
}

.card button {
    background-color: #303032;
    color: white;
    width: 200px;
    height: 58px;
    opacity: 0;
}


.card:hover button {
    opacity: 100%;
}

.card:hover .top-border {
    background-color: black;
}

.top-border {
    height: 5px;
    background-color: white
}

.card p {
    margin-left: 10px;
    flex-grow: 1;
}

.card img {
    float: right;
    max-width: 100%;
    height: auto;
}

.comment {
    font-style: italic;
    font-size: 16px;
    font-style: 400;
    line-height: 24.7px;
}

.avatar {
    border-radius: 50px;
}

.decorative {
    width: 100%;
    height: 100%;
    background-color: #FAECE9;
    width: 915px;
    height: 545px;
    position: absolute;
    top: 2050px;
    z-index: -1;
    display: block;
}

.last-chance-menu {
    margin-top: 50px;
}

.last-chance-menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.7px;
    color: black;
    opacity: 40%;
    margin-right: 20px;
}

.last-chance-menu a:hover {
    opacity: 100%;
    border-bottom: 4px solid black;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 100px;
    margin-top: 20px;
}

footer {
    padding-bottom: 40px;
}

hr {
    border: 1px solid #00000033;
    opacity: 50%;
}

.copywriting {
    float: right;
    font-size: 10px;
    font-weight: 400;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-menu__list {
    display: flex;
    list-style: none;
}

.footer-menu__item {
    margin-right: 25px;
    text-align: center;
}

.footer-menu__item a {
    font-size: 14px;
    font-weight: 600;
    color: #303032;
}

.footer-menu__contacts {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.footer-menu__contacts p a {
    margin-right: 25px;
    color: #303032;
    font-size: 16px;
    font-weight: 400;
}

.contact-data {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .novelty-product {
        order: 2;
    }

    .novelty-product.bg-color {
        order: 3;
    }

    .novelty-product:nth-child(4) {
        order: 4;
    }

    .novelty-product-right {
        order: 5;
    }

    .novelty-product-new {
        align-items: flex-start;
        justify-content: start;
    }

    .decorative {
        display: none;
    }

    .last-chance {
        display: none;
    }

    .swiper-cards {
        display: block;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 868px) {
    .footer-menu {
        display: contents;
    }

    .footer-menu__contacts {
        display: contents;
        text-align: start;
    }

    .footer-menu__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .novelty-products-list {
        display: flex;
        flex-direction: column;
    }

    .novelty-products-left {
        display: flex;
        flex-direction: column;
    }

    .cards {
        flex-direction: column;
        align-items: center
    }

    .novelty-product-new,
    .novelty-product,
    .novelty-product.bg-color,
    .novelty-product:nth-child(4),
    .novelty-product-right {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .novelty-products-left {
        flex-direction: column;
    }

    .novelty-products-list {
        display: flex;
    }

    .novelty-product {
        width: 100%;
    }

    .comments {
        display: none;
    }
}

